/* Estilo general */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

section {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Ejercicio 1 */

.flex-containerjustify-content {
    display: flex;
}

.flex-item {
    justify-content: flex-start; /* Alinear items flex desde el comienzo */
}.flex-item {
    justify-content: center; /* Alinear items en el centro */
}.flex-item {
    justify-content: space-between; /* Alinear items en el centro */
} 
.flex-item {
    justify-content: space-around;
}

