h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

blockquote {
    font-style: italic;
    color: chocolate
}